[tool.poetry]
name = "isolate"
version = "0.4.1-alpha.0"
readme = "README.md"
description = "Managed isolated environments for Python"
authors = ["Features & Labels <hello@fal.ai>"]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
virtualenv = ">=20.4"
importlib-metadata = ">=4.4"
rich = ">=12.0"
grpcio = ">=1.49"
protobuf = "*"

[tool.poetry.extras]
grpc = []
server = []

[tool.poetry.plugins."isolate.backends"]
"virtualenv" = "isolate.backends.virtualenv:VirtualPythonEnvironment"
"conda" = "isolate.backends.conda:CondaEnvironment"
"local" = "isolate.backends.local:LocalPythonEnvironment"
"isolate-server" = "isolate.backends.remote:IsolateServer"

[build-system]
requires = ["poetry-core>=1.1.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
atomic=true
force_grid_wrap=0
include_trailing_comma=true
multi_line_output=3
use_parentheses=true
