name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
  schedule:
    - cron: '30 5 * * *' # every day at 5:30 UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true

      matrix:
        os: [ubuntu-latest]
        python: ["3.8", "3.9", "3.10", "3.11"]
        include:
        - os: macos-latest
          python: "3.8"
        - os: macos-latest
          python: "3.11"
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python }}

    - name: Install mamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-name: ci
        create-args: >-
          python=${{ matrix.python }}
        condarc: |
          channels:
            - anaconda
            - conda-forge
            - pytorch

    - uses: actions/checkout@v3
      with:
        repository: pyenv/pyenv
        ref: v2.3.6
        path: pyenv

    - name: Install dependencies
      run: |
        python -m pip install -e ".[test]"

    - name: Install uv
      run: |
        python -m pip install uv

    - uses: pre-commit/action@v3.0.1

    - name: Test
      run: |
        export ISOLATE_PYENV_EXECUTABLE=pyenv/bin/pyenv
        python -m pytest -vvv
